@media screen and (max-width:1199px) {
    html {
        font-size: 15px;
    }

    .menu-wrapper ul {
        align-items: center;
        flex-direction: column;
    }

    .menu-wrapper {
        display: block;
        position: fixed;
        background-color: #000;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        box-shadow: rgb(159 159 159 / 60%) 0px 7px 29px 0px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }

    .menuToggle .menu-wrapper {
        transform: translateX(0%);
    }

    .close-menu {
        display: block;
    }

    .hamburger-menu {
        display: block;
    }
.home_why_us_content h4 {
    font-size: 1.5rem;
}

}


@media (max-width: 991px) {
    .no_padding_left {
        padding: 0;
    }

    .hotel_full_img_outer {
        height: 30rem;
        margin-bottom: 1.25rem;
        border-radius: 1.875rem 0;
    }

    .hotel_full_img {
        border-radius: 1.875rem 0;
    }

    .slick-prev,
    .slick-next {
        top: auto;
        bottom: -80px;
        transform: none;
    }

    .slick-prev {
        left: 50% !important;
        margin-left: -60px;
    }

    .slick-next {
        right: 50% !important;
        margin-right: -60px;
    }

    .featured_books_sec .slick-prev,
    .featured_books_sec .slick-next {
        top: 50%;
    }

    .featured_books_sec .single-item-slider {
        width: calc(100% - 100px);
    }

    .featured_books_sec .slick-prev {
        left: 0 !important;
    }

    .featured_books_sec .slick-next {
        right: 0 !important;
    }

    .books_cat_cards {
        padding-bottom: 110px;
    }

    .books-content {
        padding: 2.5rem 0.625rem 0 .625rem;
    }

    .about_cards {
        padding: 0;
        background-color: #fff !important;
    }

    .about_cards_image {
        height: 300px;
        display: block;
    }

    .about_cards_info {
        border-radius: 0;
    }

    section.home_banner .row {
        flex-direction: column-reverse;
    }

    .featured_books_sec .books_content h2 {
        font-size: 1.7rem;
    }

    /* .featured_books_sec .books_slides {
        height: 26.5rem;
    } */
    .books_slides {
        height: 30.625rem;
    }

    .img_part {
        height: 18.75rem;
        margin-bottom: 0;
    }

   .text_part {
    padding: 2rem 0 1rem 0  !important;
}

    .text_part h2 {
        font-size: 2rem;
    }

    section.about_banner.home_banner .row {
        flex-direction: column;
    }

    .books-image {
        height: 27.25rem;
    }

    .featured_books_sec .books_item_slider {
        width: calc(100% - 100px);
    }

    .footer-top {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .footer-logo {
        grid-column: 1 / -1;
    }

    .footer-links,
    .footer-contact {
        grid-column: auto;
        padding-left: 0;
    }

    .home_content h2 {
        font-size: 2.2rem;
    }

    .home_events_cat_cards {
        padding-bottom: 7rem;
    }

    .faq_sec .accordion {
        padding: 2rem 0 0 0;
    }

    .faq_img_outer {
        height: 30rem;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .accordion-button,
    .accordion-button:not(.collapsed) {
        font-size: 1.7rem;
    }

    .hotel_full_img_outer {
        height: 25rem;
    }

    .footer-top {
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        justify-content: center;
    }

    .footer-bottom p {
        margin-bottom: .625rem;
    }

    .nav__toggle {
        width: 2.5rem;
        height: 2.5rem;
    }

    .home_featured_img_outer {
        height: 20rem;
    }

    .home_why_us_icon_outer {
        height: 4rem;
        width: 4rem;
    }

    .home_why_us_img_outer {
        height: 20.75rem;
    }

    .py-5 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .home_why_us_content h4 {
        font-size: 1.4rem;
    }

    .pt-5 {
        padding-top: 2rem !important;
    }

    .faq_img_outer {
        height: 25rem;
    }

    .faq_sec .accordion-button,
    .accordion-button:not(.collapsed) {
        font-size: 1.7rem;
    }
    .home_after_banner_text_rap p {
    font-size: 1.3rem;
    line-height: 1.5; 
}
}

@media screen and (max-width:575px) {
    .home_content h2 {
        font-size: 1.8rem;
    }

    .banner_section {
        height: 28.75rem;
    }

    .text_part p {
        font-size: 1.1rem;
    }

    .section_heading {
        font-size: 2.5rem;
    }

    .home_events_content h2 {
        font-size: 2rem;
    }

    .home_events_content p {
        font-size: 1rem;
    }

    .home_events_slides {
        height: 34.625rem;
    }

    .home_why_us_content h5 {
        text-align: center;
        font-size: 1.1rem;
    }

    .home_why_us_icon_outer {
        margin: 0 auto;
    }

    .subtitle {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .home_why_us_content h4 {
        font-size: 1.4rem;
    }

    .faq_sec .accordion-button,
    .accordion-button:not(.collapsed) {
        font-size: 1.5rem;
    }
.py-10 {
    padding: 5.25rem 0;
}
.home_after_banner_text_rap p {
    font-size: 1.2rem;

}
}

@media screen and (max-width:480px) {
    .hotel_full_img_outer {
        height: 20rem;
    }

    .section_heading {
        font-size: 2rem;
    }

    .newsletter-wrap p {
        font-size: 1.1rem;
    }

    .home_why_us_content h4 {
        font-size: 1.4rem;
    }

    .faq_img_outer {
        height: 20rem;
    }

    .faq_sec .accordion-button,
    .accordion-button:not(.collapsed) {
        font-size: 1.3rem;
    }
    .nav__logo, .footer-logo a {
    height: 3.75rem;
    width: 11.75rem;
}
.home_after_banner_text_rap p {
    font-size: 1.1rem;

}
}