@media screen and (max-width:1199px) {
    html {
        font-size: 15px;
    }

    .menu-wrapper ul {
        align-items: center;
        flex-direction: column;
    }

    .menu-wrapper {
        display: block;
        position: fixed;
        background-color: #000;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        box-shadow: rgb(159 159 159 / 60%) 0px 7px 29px 0px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }

    .menuToggle .menu-wrapper {
        transform: translateX(0%);
    }

    .close-menu {
        display: block;
    }

    .hamburger-menu {
        display: block;
    }


}


@media (max-width: 991px) {

    .slick-prev,
    .slick-next {
        top: auto;
        bottom: -80px;
        transform: none;
    }

    .slick-prev {
        left: 50% !important;
        margin-left: -60px;
    }

    .slick-next {
        right: 50% !important;
        margin-right: -60px;
    }

    .featured_books_sec .slick-prev,
    .featured_books_sec .slick-next {
        top: 50%;
    }

    .featured_books_sec .single-item-slider {
        width: calc(100% - 100px);
    }

    .featured_books_sec .slick-prev {
        left: 0 !important;
    }

    .featured_books_sec .slick-next {
        right: 0 !important;
    }

    .books_cat_cards {
        padding-bottom: 110px;
    }

    .books-content {
        padding: 2.5rem 0.625rem 0 .625rem;
    }

    .about_cards {
        padding: 0;
        background-color: #fff !important;
    }

    .about_cards_image {
        height: 300px;
        display: block;
    }

    .about_cards_info {
        border-radius: 0;
    }

    section.home_banner .row {
        flex-direction: column-reverse;
    }

    .featured_books_sec .books_content h2 {
        font-size: 1.7rem;
    }

    /* .featured_books_sec .books_slides {
        height: 26.5rem;
    } */
    .books_slides {
        height: 30.625rem;
    }

    .img_part {
        height: 18.75rem;
        margin-bottom: 30px;
    }

    .text_part {
        padding: 0 !important;
    }

    .text_part h2 {
        font-size: 2rem;
    }

    section.about_banner.home_banner .row {
        flex-direction: column;
    }

    .books-image {
        height: 27.25rem;
    }
    .featured_books_sec .books_item_slider {
        width: calc(100% - 100px);
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .books-content {
        margin-bottom: 40px;
    }

    .books-content h1 {
        font-size: 2rem;
    }

    .featured_books_sec .slick-prev,
    .featured_books_sec .slick-next {
        top: auto;
        bottom: -50px;
        transform: none;
    }

    .featured_books_sec .single-item-slider {
        width: 100%;
    }

    .featured_books_sec .slick-prev {
        left: 50% !important;
        margin-left: -60px;
    }

    .featured_books_sec .slick-next {
        right: 50% !important;
        margin-right: -60px;
    }

    .nav__menu {
        width: 100%;
    }

    .copy_txt {
        text-align: center;
    }

    .ssl_certi {
        justify-content: center;
    }

    .books-image {
        height: 23.25rem;
    }

    .books_content p {
        font-size: 1.3rem;
    }

    .books_slides {
        height: 30.625rem;
    }

    .sub_pages_banner {
        height: 25rem;
    }

    .banner_box h1 {
        font-size: 2.5rem;
    }

    .banner_box h3 {
        font-size: 1.4rem;
    }
    .featured_books_sec .books_item_slider {
        width: 100%;
    }

}

@media screen and (max-width:575px) {

    .nav__logo,
    .footer_logo a {
        width: 13.75rem;
    }

    .books-image {
        height: 20.25rem;
    }

    .home_after_banner_text_rap p {
        font-size: 1.1rem;
    }

    .section_heading {
        font-size: 2rem;
    }

    .books_content h2 {
        font-size: 2.5rem;
    }

    .books_content p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .newsletter-wrap p {
        font-size: 1rem;
    }

    .text_part p {
        font-size: 1.1rem;
    }

}

@media screen and (max-width:480px) {

    .nav__logo,
    .footer_logo a {
        width: 11.75rem;
    }

    .section_heading {
        font-size: 1.8rem;
    }

    .home_after_banner_text_rap p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .books_content h2 {
        font-size: 2rem;
    }

    .books_content p {
        font-size: 1.1rem;
    }

    .newsletter-wrap p {
        font-size: 1rem;
    }

    .featured_books_sec .books_content h2 {
        font-size: 1.4rem;
    }

    .featured_books_sec .books_content p {
        font-size: 0.95rem;
    }

    /* .featured_books_sec .books_slides {
        height: 26.5rem;
    } */
    .sub_pages_banner {
        height: 20rem;
    }

    .banner_box h1 {
        font-size: 1.8rem;
    }

    .banner_box h3 {
        font-size: 1.2rem;
    }

    .text_part p {
        font-size: 1rem;
    }

    .text_part h2 {
        font-size: 1.7rem;
    }

    .book-image {
        height: 19.875rem;
    }

    .book-title {
        font-size: 1.5rem;
    }

    .book-title {
        font-size: 1.5rem;
    }
}