@media screen and (max-width:1199px) {
    html {
        font-size: 15px;
    }

    .menu-wrapper ul {
        align-items: center;
        flex-direction: column;
    }

    .menu-wrapper {
        display: block;
        position: fixed;
        background-color: #000;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        box-shadow: rgb(159 159 159 / 60%) 0px 7px 29px 0px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }

    .menuToggle .menu-wrapper {
        transform: translateX(0%);
    }

    .close-menu {
        display: block;
    }

    .hamburger-menu {
        display: block;
    }


}


@media (max-width: 991px) {
    .no_padding_left {
        padding: 0;
    }
    .hotel_full_img_outer {
        height: 30rem;
        margin-bottom: 1.25rem;
        border-radius: 1.875rem 0;
    }
    .hotel_full_img {
        border-radius: 1.875rem 0;
    }
    .slick-prev,
    .slick-next {
        top: auto;
        bottom: -80px;
        transform: none;
    }

    .slick-prev {
        left: 50% !important;
        margin-left: -60px;
    }

    .slick-next {
        right: 50% !important;
        margin-right: -60px;
    }

    .featured_books_sec .slick-prev,
    .featured_books_sec .slick-next {
        top: 50%;
    }

    .featured_books_sec .single-item-slider {
        width: calc(100% - 100px);
    }

    .featured_books_sec .slick-prev {
        left: 0 !important;
    }

    .featured_books_sec .slick-next {
        right: 0 !important;
    }

    .books_cat_cards {
        padding-bottom: 110px;
    }

    .books-content {
        padding: 2.5rem 0.625rem 0 .625rem;
    }

    .about_cards {
        padding: 0;
        background-color: #fff !important;
    }

    .about_cards_image {
        height: 300px;
        display: block;
    }

    .about_cards_info {
        border-radius: 0;
    }

    section.home_banner .row {
        flex-direction: column-reverse;
    }

    .featured_books_sec .books_content h2 {
        font-size: 1.7rem;
    }

    /* .featured_books_sec .books_slides {
        height: 26.5rem;
    } */
    .books_slides {
        height: 30.625rem;
    }

    .img_part {
        height: 18.75rem;
        margin-bottom: 0;
    }

    .text_part {
        padding: 0 !important;
    }

    .text_part h2 {
        font-size: 2rem;
    }

    section.about_banner.home_banner .row {
        flex-direction: column;
    }

    .books-image {
        height: 27.25rem;
    }
    .featured_books_sec .books_item_slider {
        width: calc(100% - 100px);
    }
    .footer-top {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .footer-logo {
        grid-column: 1 / -1;
    }

    .footer-links,
    .footer-contact {
        grid-column: auto;
        padding-left: 0;
    }
        .home_content h2 {
    font-size: 2.2rem;
}
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
	.accordion-button, .accordion-button:not(.collapsed) {
		font-size: 1.7rem;
	}
    .hotel_full_img_outer {
        height: 25rem;
    }
    .footer-top {
        grid-template-columns: 1fr;
    }
    .footer-bottom {
        justify-content: center;
    }
    .footer-bottom p {
        margin-bottom: .625rem;
    }

}

@media screen and (max-width:575px) {
    .home_content h2 {
    font-size: 1.8rem;
}
.banner_section {
    height: 28.75rem;
}
  .text_part p {
    font-size: 1.1rem;
} 
.section_heading {
    font-size: 2.5rem;
}
}

@media screen and (max-width:480px) {
    .hotel_full_img_outer {
        height: 20rem;
    }
    .section_heading {
    font-size: 2.1rem;
}

   
}